body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0e1c1f;  /* Deep emerald */
    color: #3a3a3a;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    color: #c7cbc7;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* Flexbox for splitting the page into two halves */
.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Left and Right Columns */
.left-column, .right-column {
    width: 48%; /* Half of the width for each side */
}

/* Initially hide forms */
.hidden {
    display: none;
}

/* Form styles */
form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* Transaction List */
#transactionList {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
}

#logoutButton {
    width: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
}
